  <header>
        <nav  class="navbar navbar-expand-lg col-sm-12 navbar-light " >
            <a class="navbar-brand" style="color: white;font-weight:800" href="/">Shopping Cart </a>
            <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" style="color: white;" href="/">Products <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        
                        <a class="nav-link" style="color: white;" href="/cart">Cart<span class="badge badge-success ml-2" id="cart-count">{{cartCount}}</span></a>
                    </li>
                    {{#if user}}
                    <li class="nav-item">
                        <a class="nav-link" style="color: white;" href="#">Orders</a>
                    </li>
                    {{/if}}
                </ul>
                <div class="dropdown">
             <button class="btn btn-secondary " type="button" >
               {{#if user}}
                  helooo,
                  {{user.Name}} 
                  <a class="dropdown-item" href="/logout">Logout</a>
                  {{else}}
                    {{!-- Account --}}
                    <a class="dropdown-item" href="/login">Login</a>
              {{/if}}
              
             </button>
             {{!-- <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
           {{#if user}}
             <a class="dropdown-item" href="/logout">Logout</a>
            {{else}}
                  <a class="dropdown-item" href="/login">Login</a>
           {{/if}}
          </div> --}}
         </div>
            </div>
        </nav>
    </header>
    <style>
        .navbar{
            top: 0;
            position: static;
            float: none;
            background-color: #0F1111;;
        }
    </style>